.cmsk-mark0 {
    color: #000;
    background: #ffcccc;
}
.cmsk-mark1 {
    color: #000;
    background: #ffe6cc;
}
.cmsk-mark2 {
    color: #000;
    background: #ffffcc;
}
.cmsk-mark3 {
    color: #000;
    background: #e6ffcc;
}
.cmsk-mark4 {
    color: #000;
    background: #ccffcc;
}
.cmsk-mark5 {
    color: #000;
    background: #ccffe6;
}
.cmsk-mark6 {
    color: #000;
    background: #ccffff;
}
.cmsk-mark7 {
    color: #000;
    background: #cce6ff;
}
.cmsk-mark8 {
    color: #000;
    background: #ccccff;
}
.cmsk-mark9 {
    color: #000;
    background: #e6ccff;
}